@charset "UTF-8";

.profile {
  color: red;
  height: 0.666667rem;
  border: 1px solid red;
}

.auth_head {
  background: url(../images/new/auth_bg.png);
  height: 14rem;
  position: relative;
}

.auth_head_center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.bg-f7f8 {
  background-color: #f7f8fa;
}

.auth_head_icon {
  position: relative;
  display: inline-block;
}

.user_vip {
  position: absolute;
  right: -0.08rem;
  bottom: -0.093333rem;
}

.icon_edit {
  width: 0.266667rem;
  height: 0.266667rem;
  margin-right: 0.3rem;
  vertical-align: top;
}

.user_icon {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.user_vip_icon {
  width: 2rem;
  height: 2rem;
}

.auth_list_icon {
  width: 0.666667rem;
  height: 0.666667rem;
}

.auth_line {
  width: 100%;
  height: 0.106667rem;
  border: 1px solid #DCDCDC;
  background-color: #F4F5F9;
}

.auth_li.mui-row {
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth_li_foot {
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid #DCDCDC;
}

.privacy_ul {
  padding: 0 1.5rem;
  margin-top: 1.5rem;
  background-color: #f7f8fa;
}

.privacy_li {
  padding: 1.5rem 1.5rem;
  padding-right: 0;
  border-bottom: 0.026667rem solid #e0e4ec;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
  border-right: 1px solid #e0e4ec;
  position: relative;
}

.privacy_li_content {
  line-height: 0.4rem;
  height: 0.4rem;
  text-align: right;
  color: #b2b2b2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 0.5rem;
}

.line_h {
  position: absolute;
  top: 0;
  right: 16.666666%;
  height: 100%;
  width: 1px;
  background-color: #CCCCCC;
  /*margin-right: 3rem;*/
}

.pr-3 {
  /*padding-right: 3rem;*/
}

.line-30 {
  line-height: 0.4rem;
  height: 0.4rem;
}

.auth_li_icon {
  width: 0.266667rem;
  height: auto;
  vertical-align: middle;
}

.footer_h {
  height: 0.8rem;
}

.footer {
  height: 0.8rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer p {
  font-size: 1.1px;
}

.lt {
  width: 0.106667rem;
  height: 0.106667rem;
  border-left: 0.026667rem solid #FFFFFF;
  border-top: 0.026667rem solid #FFFFFF;
  transform: rotate(145deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  display: inline-block;
}

.bd ul li {
  padding: 0.2rem 0;
}

/*msg*/

.msg_li_head {
  border-bottom: 1px dotted #DCDCDC;
  padding: 0.066667rem 0;
}

.msg_li_content {
  border-bottom: 1px dotted #DCDCDC;
  padding-bottom: 0.5rem;
}

.msg_li_content_2 {
  padding: 0.5rem 1rem;
  border-bottom: 1px dotted #DCDCDC;
}

.border-bottom-dotted {
  border-bottom: 1px dotted #DCDCDC;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #DCDCDC;
}

.msg_li_foot {
  background-color: #F4F5F9;
  padding: 0.066667rem 0.2rem;
  margin-right: 0.133333rem;
}

.msg_li_foot_a {
  text-decoration: underline;
}

.msg_li_head_2 {
  padding: 0.066667rem 0.133333rem;
  background-color: #F4F5F9;
  margin-top: 0.2rem;
}

.msg_li {
  padding: 0 !important;
  border-bottom: 0 !important;
}

.personal_save {
  padding: 0.04rem 0.106667rem;
  background-color: #FFFFFF;
  color: #3977e6;
  border-radius: 0.066667rem;
}

.ad_add {
  float: right;
  text-align: right;
  background-color: #4592e9;
  padding: 0 0.266667rem;
  font-size: 0.226667rem;
}

.ad_head_icon {
  width: 1.066667rem;
  height: 1.066667rem;
  text-align: center;
}

.hd ul li.on {
  color: #585f6b;
  border-bottom: 0.026667rem solid #4592e9;
}

.hd ul li {
  color: #949dab;
}

.wrapper {
  background: #FFFFFF;
}

.ad_list {
  border-bottom: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  margin-top: 0.066667rem;
  margin-bottom: 0.066667rem;
  -webkit-box-shadow: 1px 1px 2px #909090;
}

.gt {
  border-top: 2px solid #DCDCDC !important;
  border-right: 2px solid #DCDCDC !important;
}

.ad_give {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding: 0.066667rem 0;
  border-radius: 0.066667rem;
  margin-bottom: 0.066667rem;
  color: #FFFFFF;
  background-color: #3B77E7;
  border: 1px solid #3B77E7;
}

.ad_show {
  margin: 0 auto;
  width: 20%;
  border: 1px solid #000;
  text-align: center;
  padding: 0.066667rem 0;
  border-radius: 0.066667rem;
  margin-bottom: 0.066667rem;
}

.ad_click_make {
  margin: 0.133333rem auto;
  padding: 0.133333rem 0;
  width: 40%;
  border-radius: 0.093333rem;
  background-color: #F6A41D;
  color: #FFFFFF;
  font-size: 0.24rem;
  letter-spacing: 0.053333rem;
}

.my_head_title {
  height: 0.64rem;
  line-height: 0.64rem;
}

.choose_li {
  border: 0.133333rem solid #dde3ee;
  border-radius: 0.106667rem;
  margin: 0 auto;
  width: 80%;
  font-size: 0.24rem;
  padding: 0.2rem 0.266667rem;
  text-align: center;
  color: #ffffff;
}

.choose_icon {
  width: 0.4rem;
  vertical-align: middle;
}

.bg_74 {
  background-color: #74cb26;
}

.bg_32 {
  background-color: #327ae2;
}

.pt-44 {
  padding-top: 0.586667rem;
}

.pt-20 {
  padding-top: 0.266667rem;
}

.mui-switch {
  transform: rotate(-90deg) translateX(-50%);
  -webkit-transform: rotate(-90deg) translateX(-50%);
  left: 50%;
  transform-origin: 0;
  -webkit-transform-origin: 0;
  background-color: #909DA6;
}

.border-left-c {
  border-left: 1px solid #CCCCCC;
}

.auth_unread {
  position: absolute;
  top: -0.066667rem;
  right: -0.04rem;
}

.auth_unread img {
  width: 0.133333rem;
  height: 0.013333rem;
}

.border-top-0 {
  border-top: 0;
}

.ad_detail_head {
  border-right: 1px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
  margin-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  padding: 3px 15px 10px 15px;
}

.ad_detail_push {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 0.133333rem 0.066667rem;
  background-color: #4592E9;
  border-radius: 0.093333rem;
  font-size: 0.226667rem;
  color: #FFFFFF;
}

.icon_ad {
  width: 0.2rem;
  height: 0.2rem;
  vertical-align: top;
  margin-right: 0.066667rem;
}

.text-color-58 {
  color: #58DC1E;
}

.text-color-ff93 {
  color: #FF9306;
}

.text-color-9 {
  color: #999999;
}

.bg-91 {
  background-color: #91a1b3;
}

.mylist-short {
  padding-top: 0.066667rem;
}

.goto_vip {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 0.04rem;
  display: inline-block;
  height: 0.266667rem;
  line-height: 0.266667rem;
  margin-right: 0.133333rem;
}

.my_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0.533333rem;
}

.bg-45 {
  background-color: #4593e8 !important;
}

#register,
.blue_inp {
  padding: 0.106667rem 0 !important;
  border: 1px solid #4593e8 !important;
  color: #4593E8 !important;
  border-radius: 0.093333rem !important;
  float: right !important;
}

.blue_inp {
  color: black !important;
}

#login,
.blue_btn {
  background-color: #4593e8;
  padding: 0.106667rem 0;
  border: 1px solid #4593e8;
  border-radius: 0.093333rem;
}

.icon_login {
  width: 0.2rem;
  height: auto;
}

.register_tag {
  padding: 0.026667rem 0.066667rem;
  border: 1px solid #1F88FF;
  color: #1F88FF;
  border-radius: 0.066667rem;
  margin-left: 0.133333rem;
}

.reg_success_head {
  background-color: #F7F8FA;
  border: 1px solid #dfe1e6;
}

.submit_info {
  background: #3977e6;
  color: #FFFFFF;
  padding: 0.066667rem 0.133333rem;
  text-align: center;
  border-radius: 0.066667rem;
  margin-top: 0.533333rem;
}

.submit_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  padding-bottom: 0.266667rem;
}

.myModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: block;
  background-color: #FFFFFF;
}

.store_li {
  padding: 0.2rem 0.2rem;
  border-bottom: 1px solid #dcdcdc;
}

.store_icon {
  width: 100%;
}

.exchange {
  border: 1px solid #ff9306;
  display: inline-block;
  padding: 0.066667rem 0.066667rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0.066667rem;
  color: #ff9306;
}

.store_info {
  text-align: justify;
  float: right !important;
  width: 65%;
}

.store_left {
  width: 30%;
  float: left;
}

.btn-ok {
  background-color: #4593e8;
  padding: 0.106667rem 0;
  border: 1px solid #4593e8;
  border-radius: 0.093333rem;
}

.btn-close {
  padding: 0.106667rem 0;
  border: 1px solid #4593e8;
  color: #4593E8;
  border-radius: 0.093333rem;
  float: right;
}

.offset-15 {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.text-color-blue {
  color: #3a77e6;
}

.setad_head {
  height: 0.533333rem;
  /*display: flex;
    align-items: center;*/
  color: #3a77e6;
  font-size: 0.213333rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-bottom: 1px solid #cbcbcb;
}

.bg-3a {
  background-color: #3a77e6;
}

.bg-eaed {
  background-color: #eaedf1;
}

.boder-c {
  border: 1px solid #CCCCCC;
}

.setad_table_head {
  background-color: #3a77e6;
  color: #FFFFFF;
  height: 0.426667rem;
  line-height: 0.426667rem;
}

.setad_table_head th {
  font-weight: bold;
}

.setad_table_head tr {
  padding: 0.066667rem 0.133333rem;
}

.w-90 {
  width: 90% !important;
}

.setad_table_body td {
  padding: 0.066667rem 0.133333rem;
}

.setad_table_body tr:nth-child(odd) {
  background-color: #eaedf1;
}

.setad_table_body tr:nth-child(even) {
  background-color: #FFFFFF;
}

/*回答问题详情*/

.myad_details {
  box-shadow: 0.026667rem 0.04rem 0 rgba(0, 0, 0, 0.1);
}

.info_avatar {
  vertical-align: middle;
  line-height: 0.266667rem;
}

.noellipsis {
  text-overflow: initial;
  overflow: auto;
  white-space: initial;
}

.line-h-15 {
  line-height: 0.2rem;
}

.text-color-org {
  color: #ff8010;
}

.blue_inp {
  text-indent: 0.133333rem;
}

.setad_val {
  border: 1px solid #dcdcdc;
  padding: 1px 4px;
  border-radius: 0.066667rem;
}

.info_avatar {
  vertical-align: middle;
  line-height: 0.266667rem;
}

.noellipsis {
  text-overflow: initial;
  overflow: auto;
  white-space: initial;
}

.line-h-15 {
  line-height: 1.5rem;
}

.text-color-org {
  color: #ff8010;
}

.blue_inp {
  text-indent: 0.133333rem;
}

.border_avatar {
  border: 1px solid #DCDCDC;
  padding: 0.026667rem;
  border-radius: 100%;
}

.setad_val {
  border: 1px solid #dcdcdc;
  padding: 0 0.066667rem;
  border-radius: 0.066667rem;
  height: 0.333333rem;
  line-height: 0.333333rem;
  color: gray;
}

.v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my_ad_ul li {
  padding: 0 0.2rem !important;
  border-bottom: 1px solid #dcdcdc !important;
  height: 0.533333rem;
}

.my_ad_ul li:nth-child(even) {
  background-color: #FFFFFF;
}

.my_ad_ul li:nth-child(odd) {
  background-color: #F7F8FA;
}

.ad_unread {
  position: absolute;
  top: -0.093333rem;
  right: -0.2rem;
  width: 0.24rem;
  height: 0.24rem;
  background-color: red;
  border-radius: 100%;
  color: #ffffff;
  line-height: 0.24rem;
  text-align: center;
  font-size: 0.16rem;
}

.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.updatePrice {
  border: 1px solid #3977e6;
  padding: 1px 2px;
  border-radius: 0.053333rem;
  color: #3977e6;
}

.date_control {
  border: 1px solid #979797 !important;
  display: inline-block;
  line-height: 0.266667rem;
  text-align: left;
  padding-right: 0.133333rem;
  border-radius: 0.053333rem;
  position: relative;
}

.goto_pay {
  color: #FFFFFF;
  padding: 0.04rem 0.133333rem;
  background-color: #4593e8;
  border-radius: 0.053333rem;
}

.ad_seach {
  border: 1px solid #4592e9;
  color: #4592e9;
  padding: 0.026667rem 0.08rem;
  border-radius: 0.053333rem;
}

input.ad_keyCode {
  width: 1.066667rem;
}

.ad_icon {
  width: 0.133333rem;
  height: 0.133333rem;
  position: absolute;
  bottom: 0;
  right: 0.133333rem;
}

/*回到顶部*/

.goTop {
  position: fixed;
  right: 10%;
  bottom: 0.533333rem;
}

.goTop a {
  display: block;
  border-radius: 100%;
  padding: 0.066667rem;
  background: #555;
  color: #fff;
  line-height: 0.186667rem;
  font-size: 0.16rem;
  opacity: 0.9;
  width: 0.533333rem;
  height: 0.533333rem;
  text-align: center;
}

.comment_icon {
  width: 0.533333rem;
  height: 0.546667rem;
  border-radius: 100%;
}

[data-dpr="1"] .test {
  width: 32px;
}

[data-dpr="2"] .test {
  width: 64px;
}

[data-dpr="3"] .test {
  width: 96px;
}